/* universal styles */



/* universal styles end */

/* form & button styles begin */

button {
    border-radius: 10px;
    background-color: lightgrey;
    color: black;
    border: none;
    width: 100%;
    padding: .25em;
}

textarea {
    border-radius: 10px;
    resize: none;
}

/* pseudo element styles */

textarea::placeholder {
    text-align: center;
    
}

button:hover {
    background-color: #83AAFF;
    color: white;
}

/* data styles begin */

#today-data {
    padding: 0;
}

li {
    list-style: none;
}

#today {
    font-size: x-large;
    padding: 15px 15px 15px 0;
}

#today span {
    padding-left: 15px;
}

#five-day > ul {
    background-color: navy;
    color: white;
    margin: .5em;
    padding: 1em;
    border-radius: 5px;
    font-size: 14px;
}

ul:first-child {
    margin: 0 .5em .5em .5em;
}

#five-day p {
    font-size: 18px;
}